<%= form_with(model: politic, local: true) do |form| %>
  <% if politic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(politic.errors.count, "error") %> prohibited this politic from being saved:</h2>

      <ul>
      <% politic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :political_party %>
    <%= form.text_field :political_party %>
  </div>

  <div class="field">
    <%= form.label :legend %>
    <%= form.text_field :legend %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
