<p id="notice"><%= notice %></p>

<h1>Politics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Political party</th>
      <th>Legend</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @politics.each do |politic| %>
      <tr>
        <td><%= politic.name %></td>
        <td><%= politic.phone %></td>
        <td><%= politic.political_party %></td>
        <td><%= politic.legend %></td>
        <td><%= link_to 'Show', politic %></td>
        <td><%= link_to 'Edit', edit_politic_path(politic) %></td>
        <td><%= link_to 'Destroy', politic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Politic', new_politic_path %>
