<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @politic.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @politic.phone %>
</p>

<p>
  <strong>Political party:</strong>
  <%= @politic.political_party %>
</p>

<p>
  <strong>Legend:</strong>
  <%= @politic.legend %>
</p>

<%= link_to 'Edit', edit_politic_path(@politic) %> |
<%= link_to 'Back', politics_path %>
