<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @distribution.item %>
</p>

<p>
  <strong>Coordinator:</strong>
  <%= @distribution.coordinator %>
</p>

<%= link_to 'Edit', edit_distribution_path(@distribution) %> |
<%= link_to 'Back', distributions_path %>
