<%= form_with(model: lot, local: true) do |form| %>
  <% if lot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lot.errors.count, "error") %> prohibited this lot from being saved:</h2>

      <ul>
      <% lot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :item_id %>
    <%= form.text_field :item_id %>
  </div>

  <div class="field">
    <%= form.label :origin %>
    <%= form.text_field :origin %>
  </div>

  <div class="field">
    <%= form.label :initial_quantity %>
    <%= form.number_field :initial_quantity %>
  </div>

  <div class="field">
    <%= form.label :current_quantity %>
    <%= form.number_field :current_quantity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
