<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @lot.item %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @lot.origin %>
</p>

<p>
  <strong>Initial quantity:</strong>
  <%= @lot.initial_quantity %>
</p>

<p>
  <strong>Current quantity:</strong>
  <%= @lot.current_quantity %>
</p>

<%= link_to 'Edit', edit_lot_path(@lot) %> |
<%= link_to 'Back', lots_path %>
